.but{
    text-align:center;
    width:30px;
    height:25px;
    margin : 5px;
}
.cal{
    border:1px solid rgb(69, 67, 67);
    border-radius:3px;
    width:200px
}
#display{
    width:85%;
    margin:10px;
    display:flex;
    justify-content:center;
}
.button{
    display:flex;
    justify-content:center;

}